@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.app {
  width: 100%;
  margin: auto;
  background-color: #e8f1f2;
}

body {
  font-family: open sans, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

#nav-container {
  background-color: #254d32;
}

p {
  font-size: 0.8rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #c9f0ff;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1,
h2 {
  text-align: center;
  color: #e8f1f2;
}

hr {
  color: #254d32;
  background-color: #c9f0ff;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.landing {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 2.5% 0 2.5% 0;
}

#sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 600px;
}

#content {
  min-height: 300px;
}

#header {
  background-color: #848c8e;
  color: #e8f1f2;
}

#footer {
  background-color: #ced8da;
  text-align: center;
}

#content {
  background-color: #e8f1f2;
}

.single-product {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5% 20% 5% 20%;
  background-color: white;
}

.single-product-img {
  height: 300px;
  width: 300px;
  margin-bottom: 24px;
  margin-right: 24px;
}

.single-product-info {
  display: flex;
  flex-direction: row;
}

.all-products-container {
  display: flex;
  flex-direction: row;
}

.all-products-panel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5%;
}

.all-products-panel {
  align-content: center;
  width: 25%;
}

.all-products-panel img {
  max-width: 100%;
}

.all-products-img {
  height: 12rem;
  object-fit: contain;
}

.add-button {
  width: 50%;
  margin: 0 25% 0 25%;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.not-enough-stock {
  font-size: 11px;
}
.image-stock-info {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.cart-container {
  margin: 20px;
}

.subtotal-checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 75px;
}
.subtotal {
  font-size: 20px;
}

.success-page-container {
  margin: 20px;
}

.empty-cart {
  text-align: center;
}
.submit-button {
  width: 5rem;
  height: 2rem;
  color: #fff;
  background-color: #3ab795;
  border-color: #3ab795;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  border-radius: 2px;
}

.img-cart {
  width: 150px;
  height: 150px;
  padding-right: 1rem;
  object-fit: cover;
}

.logo {
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: #c9f0ff;
  font-size: 80px;
  margin: 0;
}
