body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#sidebar {
  background-color: #848c8e;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#header {
  background-color: #254d32;
  color: #e8f1f2;
}

#footer {
  background-color: #254d32;
}

.single-product {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 5% 20% 5% 20%;
  background-color: white;
}

.single-product-info {
  display: flex;
  flex-direction: row;
}

.all-products-container {
  display: flex;
  flex-direction: row;
}

.all-products-panel-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.all-products-panel {
  align-content: center;
  width: 25%;
}

.all-products-panel img {
  max-width: 100%;
}

.add-button {
  width: 50%;
  margin: 0 25% 0 25%;
}
